<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1 class="text-center">Your Profile</h1>
    <div>
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail" href="/campgrounds/<%= campground._id %>">
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p><a class="btn btn-info" href="/campgrounds/<%= campground._id %>">More Info</a></p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>