<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1 class="text-center">Your Profile</h1>
    <hr>
    <div class="profile-header">
        <h2 style="display: inline;">Your campgrounds...</h2>
        <span style="float: right;"><a class="btn btn-primary btn-lg auth-req" href="/campgrounds/new">Add new campground</a></span>
    </div>
    
    
    <div class="well your-campgrounds">
        <div class="row campground-container">
            <% if(campgrounds.length === 0){ %>
                <h1 class="empty-msg text-center">It's empty here :(</h1>
            <% } %>
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail text-center" href="/campgrounds/<%= campground._id %>">
                        <img src="<%= campground.image %>">
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                        <p><a class="btn btn-info" href="/campgrounds/<%= campground._id %>">More Info</a></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>