#comment_text {
    width: 100%;
    resize: none;
}

.navbar-left img {
    height: 30px;
    margin: 8px 0;
}

.log-btn {
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
}

.cg-list .thumbnail img {
    max-height: 225px;
}

.thumbnail {
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
}

.thumbnail .caption-full {
    padding: 9px;
}

.modal-content {
    padding: 10px;
}

.edit-button {
    margin-bottom: 10px !important;
    margin-right: 10px;
}

.delete-button {
    margin-bottom: 10px !important;
}

.empty-msg {
    color: grey;
    font-size: 50px;
    width: 100%;
    margin-top: -20px;
    display: table-cell;
    vertical-align: middle;
}

.your-campgrounds {
    height: 100%;
    margin-top: 25px;
}

.profile-header {
    display: inline;
    height: 80px;
}

.cg-list {
    display: table;
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

.cg-list div {
    margin-bottom: 15px;
}

.cg-list div .thumbnail {
    height: 100%;
}